{% extends 'DtdbCardsBundle:Search:display.html.twig' %}

{% import "DtdbCardsBundle::suits.html.twig" as suits %}

{% block head %}
<script src="{{ asset('/web/bundles/dtdbcards/js/reviews.js') }}"></script>
<script type="text/javascript">
DTDB.user.params.card_id = {{ cards[0].id|json_encode|raw }};
</script>{% endblock %}

{% block main %}

{% for i in 0..cards|length-1 %}{% set card = cards[i] %}
<div class="row">
	<div class="col-md-5" style="margin-top:2em">
		<div>
			<div class="panel panel-default">
				<div class="panel-heading">
				<h3 class="panel-title card-title">
        			<span class="pull-right">{{ suits.display_card_face(card.rank, card.suit|lower) }}</span>
    				<a href="{{ card.url }}" class="card-title{% if card.available == false %} card-preview{% endif %}">{{ card.title }}</a>
				</h3>
	  			</div>
				<div class="panel-body">
    				<div class="card-type">
    					{{ card.type }}
                        {% if not card.bullets is null %}&bull; {{ card.shooter }} {{ card.bullets }}{% endif %}
    					{% if not card.influence is null %}&bull; Influence {{ card.influence }}{% endif %}
    					{% if not card.control is null %}&bull; Control {{ card.control }}{% endif %}
    					{% if not card.cost is null %}&bull; Cost {{ card.cost }}{% endif %}
    					{% if not card.wealth is null %}&bull; Wealth {{ card.wealth }}{% endif %}
    					{% if not card.production is null %}&bull; Production {{ card.production }}{% endif %}
    					{% if not card.upkeep is null %}&bull; Upkeep {{ card.upkeep }}{% endif %}
    				</div>
        			<div class="card-keywords">
                        {% if card.keywords %}{{ card.keywords }}{% endif %}
        			</div>
    				<div class="card-text">
    					{{ card.text|raw }}
    				</div>
    				<div class="card-flavor">
    					<small>{{ card.flavor|raw|nl2br }}</small>
    				</div>
    				<div class="card-illustrator">
    					<small>
    					<img src="{{ asset('/web/bundles/dtdbbuilder/images/' ~ card.gang_code ~ '-20.png') }}" title="{{ card.gang }}"> &bull;
    					{% if card.illustrator %}{{ card.illustrator }} &bull; {% endif %}{{ card.pack }} #{{ card.number }}
    					{% for alternative in card.alternatives %}
    						| <a href="{{ alternative.url }}" title="Alternative">{{ alternative.pack }} #{{ alternative.number }}</a>
    					{% endfor %}
    					</small>
    				</div>
				</div>
			</div>
		</div>
		<div class="card-image">
			{% if card.imagesrc %}
        	   <img src="{{ card.imagesrc }}" class="img-responsive" style="margin:auto">
        	{% else %}
        	   <div class="no-image" style="margin:auto"><div class="no-image-text">No image</div></div>
        	{% endif %}
		</div>
	</div>
	<div class="col-md-7" style="margin-top:2em">
	   <div style="line-height:34px" id="reviews-header">
    	   <span style="font-size:24px">Reviews</span>
	   </div>
	   <form method="POST" action="" style="clear:right" id="review-edit-form">
    	   <input type="hidden" name="card_id" value="{{ card.id }}">
    	   <input type="hidden" name="review_id" value="">
       </form>
	   {% if card.reviews|length %}
	   {% for review in card.reviews %}
	   <article class="review" data-index="{{ review.id }}" id="review-{{ review.id }}">
    	   <a name="review-{{ review.id }}"></a>
    	   <header>
        	   <span class="pull-right">
            	   <a id="review-social-icon-like" href="#" class="social-icon-like" data-toggle="tooltip" data-placement="bottom" title="Like that review">
                	   <span class="glyphicon glyphicon-heart"></span> <span class="num">{{ review.nbvotes }}</span>
            	   </a>
        	   </span>
        	   By <a href="{{ path('user_profile_view', {user_id:review.author_id,user_name:review.author_name|e('url')}) }}" rel="author" class="username {{ review.author_color }}">{{ review.author_name }}</a>
        	   on <time pubdate datetime="{{ review.datecreation|date('Y-m-d') }}" title="{{ review.datecreation|date('F jS, Y') }}">{{ review.datecreation|date('n/j/y') }}</time>
    	   </header>
    	   <div class="review-content">
        	   {{ review.text|raw }}
    	   </div>
	   </article>
	   {% endfor %}
	   {% else %}
	   <p><i>No review yet for this card.</i></p>
	   {% endif %}
	   </div>
</div>
{% endfor %}

{% endblock %}

