{% extends 'DtdbBuilderBundle::layout.html.twig' %}

{% block title %}Revised Rulebook - Revision 002-20151210{% endblock %}

{% block body %}
<div class="container">

<h1>{{ block('title') }}</h1>

<article class="rules rop">
<h1 id="rop">Rules o' Play</h1>
<nav class="inner rop">
	<ul>
	<li><a href="#rop1">Welcome to Doomtown!</a></li>
	<li><a href="#rop2">What Y'all Are Tryin' to Git Done</a></li>
	<li><a href="#rop3">Stuff in the Box</a></li>
	<ul>
		<li><a href="#rop4">Home Card</a></li>
		<li><a href="#rop5">Deed Card</a></li>
		<li><a href="#rop6">Dude Card</a></li>
		<li><a href="#rop7">Goods Card</a></li>
		<li><a href="#rop8">Spell Card</a></li>
		<li><a href="#rop9">Action Card</a></li>
		<li><a href="#rop10">Joker Card</a></li>
		<li><a href="#rop11">Counters</a></li>
		<li><a href="#rop12">Token Card</a></li>
	</ul>
	<li><a href="#rop13">Learnin' the Ropes</a></li>
	<ul>
		<li><a href="#rop14">The Cards Are Always Right... Unless They's Wrong</a></li>
		<li><a href="#rop15">Decks, Discards, and Boot Hill</a></li>
		<li><a href="#rop16">Your Stash</a></li>
		<li><a href="#rop17">Card Values and Hands</a></li>
		<li><a href="#rop18">Cheatin'</a></li>
		<li><a href="#rop19">Bootin' Cards</a></li>
		<li><a href="#rop20">Locations and Adjacency</a></li>
		<li><a href="#rop21">Owner and Controller</a></li>
		<li><a href="#rop22">Uniqueness</a></li>
		<li><a href="#rop23">Makin' Plays and Reactin'</a></li>
	</ul>
	<li><a href="#rop24">Setup</a></li>
	<li><a href="#rop25">Sequence o' Play</a></li>
	<ul>
		<li><a href="#rop26">Gamblin' Phase</a></li>
		<li><a href="#rop27">Upkeep Phase</a></li>
		<li><a href="#rop28">High Noon Phase</a></li>
		<li><a href="#rop29">Sundown Phase</a></li>
	</ul>
	<li><a href="#rop30">Plays You Can Make at High Noon</a></li>
	<ul>
		<li><a href="#rop31">Actin'</a></li>
		<li><a href="#rop32">Callin' Out</a></li>
		<li><a href="#rop33">Movin'</a></li>
		<li><a href="#rop34">Shoppin'</a></li>
		<li><a href="#rop35">Tradin'</a></li>
	</ul>
	<li><a href="#rop36">Shootouts</a></li>
	<ul>
		<li><a href="#rop37">Formin' Posses</a></li>
		<li><a href="#rop38">Trespassin'</a></li>
		<li><a href="#rop39">Slingin' Lead</a></li>
	</ul>
	<li><a href="#rop40">Them Other Rules</a></li>
	<ul>
		<li><a href="#rop41">Card Text</a></li>
		<li><a href="#rop42">Aces</a></li>
		<li><a href="#rop43">Harrowed Dudes</a></li>
		<li><a href="#rop44">Help Text</a></li>
		<li><a href="#rop45">How Long? How Big?</a></li>
		<li><a href="#rop46">Jobs</a></li>
		<li><a href="#rop47">Paying costs</a></li>
		<li><a href="#rop48">Pulls</a></li>
		<li><a href="#rop49">Skill Ratin's</a></li>
		<li><a href="#rop50">Wanted Dudes</a></li>
		<li><a href="#rop51">Experienced Characters</a></li>
		<li><a href="#rop52">Cooperatin'</a></li>
		<li><a href="#rop53">Headlines</a></li>
		<li><a href="#rop531">Totem</a></li>
		<li><a href="#rop532">Kung Fu</a></li>
	</ul>
	<li><a href="#rop54">Winnin' the Durn Game</a></li>
	<li><a href="#rop55">Appendices</a></li>
	<ul>
		<li><a href="#rop56">Stackin' a Deck</a></li>
		<li><a href="#rop57">Rustlin' Up Some Help</a></li>
	</ul>
	<li><a href="#rop58">Credits</a></li>
	<ul>
		<li><a href="#rop59">Copyright & Contact</a></li>
	</ul>
	<li><a href="#rop60">Reference</a></li>
	<ul>
		<li><a href="#rop61">Hand Ranks</a></li>
	</ul>
	</ul>
</nav>

<h2 id="rop1">Welcome to Doomtown!</h2>
<p class="italic">The year is 1878, but the history is not our own.
</p>
<p class="italic">After almost two decades of bitter fighting, the American Civil War has ground to a standstill. The Confederate States have retained their sovereignty. Much of California has fallen into the Pacific Ocean. A superfuel called ghost rock advances technology by unpredictable leaps and sometimes dangerous bounds. The Sioux have retaken the Dakotas and the Coyote Confederation dances the Ghost Dance on the High Plains. Monsters stalk the deserts and prowl the dark streets of the boomtowns. Some even say the dead walk among us.
</p>
<p class="italic">But where there are monsters, so there are heroes - hex-slingin' hucksters, Bible-thumpin' preachers, deadly gunfighters, fearless braves, wizened shamans, and mad scientists armed with weird steampunk gadgets. Heroic, foolhardy, visionary, or simply too headstrong to let some abomination tell them what to be afraid of, the frontier is carved out by heroes who take a stand against the forces of terror.
</p>
<p class="italic">Gomorra, called "Doomtown," needs such heroes. A huge vein of ghost rock was struck in the Maze there, turning it into a boomtown. It seemed like the veins were mostly tapped out, but the miners still find large deposits. As long as the miners keep digging, others will be waiting. Bartenders and soiled doves, outlaws and law dogs, even the politicians and accountants are hard-bitten folk, all wanting a piece of the pie for themselves.
</p>
<p class="italic">Gomorra's seen more than its share of misery. The heroes of the town had defeated a rogue demon, Knicknevin, at great cost. Even so, it was a mysterious monster-filled storm that ended up ravaging the valley and killing most of the townsfolk.
</p>
<p class="italic">Dave Montreal's the sheriff now, upholding the law as best he can as the town rebuilds while refugees from the region make their way to Gomorra. The Morgan Cattle Company moved in, making Gomorra a cattle town on top of everything else. A gang of rogues and outlaws sporting red bandanas have encamped amongst the ruins of a neighboring town and they ain't fixin' to leave anytime soon. A circus rolled into town and set up, no one remembers quite when, and why they are staying is a mystery.
</p>
<p class="italic">Gomorra's a hard place that has seen more than its share of action, and a good day is any day that doesn't end in a pine box.
</p>
<p class="italic">That's why they call it Doomtown.
</p>

<p><span style="color: red;">Note: Recent updates to this rulebook are color coded to aid identification.</span></p>
 
<h2 id="rop2">What Y'all Are Tryin' to Git Done</h2>
<p class="italic">Y'all are trying to take control of the town of Gomorra. Why you're doin' it is up to you; you
may be tryin' to ensure the good folk can live a safe and happy life, or you may want to
sacrifice the souls of the innocent on the altar to the demon lord of everflowin' whiskey. It
makes no difference to those who're trying to stop you.
</p>
<p>Doomtown is a game for two or more players, each vying for control of the town. You take control of the town and win the game if, at the beginning of any Sundown phase, you have more <b>Control​</b> than each other player has <b>Influence</b>.​
</p>
<p>Generally, you get control by virtue of deeds you have under your thumb (the bank, the church and the town hall) and important tasks that you've accomplished (like robbing the bank, gunning down the robbers, or summoning a demon).
</p>
<p>You gain influence by having dudes in play. The more important the dude is around town, the more influence that dude has to show the common folk that while someone else might control the bank, they don't control you.
</p>

<h2 id="rop3">Stuff in the Box</h2>
<p class="italic">This here game is played primarily with cards, although y'also got a few counters and such
to help out.
</p>
<p>If you look through the box, you'll see several cellowrapped packs of cards. Two of these packs are pre-built decks that are stacked for use with the Learn to Play walkthrough in the Getting' to Know Gomorra booklet. You can identify these as they have their outfit cards visible, as shown here. We recommend running through the Learn to Play guide with these decks before you change their order. You can open the other packs to look at the cards while reviewing the rules.</p>

<h3 id="rop4">Home Card</h3>
<p class="italic">Before someone takes over the town, you gotta know who it is, on account of everyone is
on their own side, anyways. That's what the home card is for. This card shows you which
outfit you're leadin' in the struggle for control of the fine—er, well, the prosperous town of
Gomorra.
</p>
<p>This card serves as the home for your gang; it's the place your dudes come into play when
you recruit them, and it's the place where they can (usually) be safe from the other players'
dudes.
</p>
<div><ol>
<li>This is the name of your outfit - it's who you are. Right now, there are four main outfits trying to take control of Gomorra; these are:</li>
<div class="insert"><ul>
<li><img src="{{ asset('/web/bundles/dtdbbuilder/images/lawdogs-20.png') }}" title="Law Dogs"><b>The Law Dogs</b>, who maintain law and order.</li>
<li><img src="{{ asset('/web/bundles/dtdbbuilder/images/sloanegang-20.png') }}" title="The Sloane Gang"><b>The Sloane Gang</b>, an outlaw gang camped nearby.</li>
<li><img src="{{ asset('/web/bundles/dtdbbuilder/images/morganco-20.png') }}" title="Morgan Cattle Co."><b>The Morgan Cattle Company</b>, the big business in these parts.</li>
<li><img src="{{ asset('/web/bundles/dtdbbuilder/images/fourthring-20.png') }}" title="The Fourth Ring"><b>The Fourth Ring</b>, a recently arrived circus and freak show.</li>
</ul></div>
<li>This is the symbol for your outfit. All dudes in your outfit have the same symbol on them. If a dude has a different symbol, then that dude is from a different outfit; if the dude has no symbol at all, then they're a drifter with no real allegiance to any of the outfits.
</li>
<li>Each home card also has a special background texture (for these here Law Dogs, that's a blue denim sort of look). Dudes from the same outfit all have the same background. It helps you tell them apart.
</li>
<li>This area of the card describes what the special ability or trait of that outfit is; it's a power that you, the player, have by virtue of choosing to play that outfit.
</li>
<li>Each outfit has a starting stash, shown here with a stack of money. Each outfit starts with a few dudes already in play; the nucleus of your gang. This shows how much ghost rock (that's the stuff those in Doomtown use for money) the outfit can spend on starting dudes.
</li>
<li>This shows the home card's production. It has a + sign next to it to help you remember that it's income for you. The card gives you that much ghost rock during each Upkeep phase. We'll tell you all about that later.</li>
</ol></div>

<h3 id="rop5">Deed Card</h3>
<p class="italic">If you're going to control a town, you gotta have a town to control. That's where deed cards
come in. Each deed card represents a specific building in Gomorra, with a specific purpose.
When you play a deed, you get its benefits and income, which is good, because it'll take a
big bucket o' ghost rock to bring this whole town to heel.
</p>
<p>Deeds are buildings and properties that provide special abilities or game effects, and, once
brought into play, cannot be moved. When you bring a deed into play, it goes on the street
on your side of town.
</p>
<div><ol>
<li>Each deed card has a specific suit (diamonds) and value assigned to it. These are
mostly used to create poker hands during the game, but can also be used for other effects
too, as explained later.
</li>
<li>Many deeds have control points, shown in a blue chip. The more control points a
deed has, the more important it is to the fine citizens of Gomorra. The most important thing
about control points is that they are how you win the game.
</li>
<li>This area of the card describes what the deed does in game terms. At the top, in
bold, are the deed's keywords (e.g., Saloon, Private, etc.). These may be referenced by
other cards in the game, or by the rules. Below that are the card's abilities and traits. You'll
find out all about how to use these abilities later in the rules.
</li>
<li>Each deed has a cost, shown on an icon of a coin. This is how much ghost rock you
must pay to bring the deed into play.
</li>
<li>Deeds also have production, just like your outfit card. This shows you how much
extra ghost rock the deed brings into your stash each turn.</li>
</ol></div>

<h3 id="rop6">Dude Card</h3>
<p class="italic">A town's gotta have people, too. And you, if you want to control the town, you gotta have
some folks willin' to throw their weight around on your behalf, or at least take your wages
and do your dirty work.
</p>
<p>Townsfolk are represented by dude cards. Dudes are people that owe you their loyalty, and
work to further your goals by their influence, their innate abilities, or their skills with a
revolver.
</p>
<div><ol>
<li>Each dude card has a specific suit (spades) and value assigned to it. These are
mostly used to create poker hands during the game, but can also be used for other effects
too, as explained later. The higher a dude's value, the harder it is for bad things to affect
them (e.g., getting hit by a shotgun, getting a spell cast on them).
</li>
<li>Bullets are a measure of a dude's capability to win a shootout. The higher the
number, the better they are at gunning down the other side. In addition, the color of the
cartridge determines whether the dude is a stud or a draw; a silver cartridge means the
dude is a stud (and better), while a brass cartridge indicates that the dude is a draw (less
stellar, but still useful).
</li>
<li>Influence is a representation of how renowned the dude is around town. Well-known,
charismatic dudes have high influence. So do dangerous, infamous killers. The primary use
of influence is to prevent the other players from winning, and to control deeds in order to
help you win.
</li>
<li>Outfit shows which gang the dude primarily works for.
</li>
<li>This area of the card describes any special skills that the dude can use in the game.
At the top, in bold, are any keywords that the dude may have (e.g., Deputy, Huckster,
etc.). These may be referenced by other cards in the game. Below that are the card's
abilities and traits. You'll find out all about how to use these effects later in the rules.
</li>
<li>Each dude has a cost, shown on an icon of a coin. This is how much ghost rock you
must pay to bring the dude into play.
</li>
<li>Upkeep shows how much the dude costs each turn to keep them on your side (some
dudes have a zero upkeep). Dudes that belong to other outfits cost extra (loyalty doesn't
come cheap)
</li>
</ol></div>
<div class="insert"><h4>Grit</h4>
<p>Dudes also have grit: an overall measure of how tough that dude is. This is not shown on a
dude's card, but is calculated whenever needed. <b>A dude's grit is equal to that dude's
value plus bullets plus influence</b>.​</p>
</div>

<h3 id="rop7">Goods Card</h3>
<p class="italic">They say you can git more with a smile and a sawed-off shotgun than you can with just a
"purty please." Guess that's why everybody 'round these parts is goin' heeled… that means
carryin' a gun for you back-East types what don't talk right.
</p>
<p>Goods cards represent items that your dudes can own, from new hats to horses and
everything in between. Goods cards can't be used by themselves, but must be attached to
another card you already have in play (usually a dude).
</p>
<div><ol>
<li>Each goods card has a specific suit (hearts) and value assigned to it. These are
mostly used to create poker hands during the game, but can also be used for other effects
too, as explained later.
</li>
<li>Bullet bonus (if any) shows how much the goods card improves the gunfighting skills
of the dude carrying it. The color of the bullet on a goods cards does not change the bullet
color of the dude carrying it unless the card says otherwise.
</li>
<li>Influence bonus (if any) shows how much the goods improves the influence of the
dude carrying it.
</li>
<li>This area of the card describes any special skills that the goods provides to the dude
carrying it. At the top, in bold, are any keywords that the goods may have (e.g., Gadget,
Horse, etc.). These may be referenced by other cards in the game. Below that are the card's
abilities and traits. You'll find out all about how to use these abilities later in the rules.
</li>
<li>Each goods card has a cost, shown on an icon of a coin. This is how much ghost rock
you must pay to bring the goods into play.</li>
</ol></div>

<h3 id="rop8">Spell Card</h3>
<p class="italic">I saw a couple card tricks once when I was a half-pint, but that warn't nuthin' compared to
what some fellers can do these days. Some o' their card tricks are even more powerful than
the wink of a saloon gal.
</p>
<p>Spell cards represent special talents that dudes with magical affinity can perform. When
purchased, Spell cards must be attached to a dude card you already have in play. A Hex can
only be attached to a dude with the Huckster keyword, Miracles can only attach to a Blessed
dude, while Spirits only attach to a Shaman.
</p>
<div><ol>
<li>Each spell card has a specific suit (hearts) and value assigned to it. These are mostly
used to create poker hands during the game, but can also be used for other effects too, as
explained later.
</li>
<li>This area shows the card's game effects. At the top, in bold, are the keywords that
the spell has, which always include its type (e.g., Hex, Miracle, etc.). These may be
referenced by other cards in the game. Below that are the card's abilities and traits. You'll
find out all about how to use these abilities later in the rules.
</li>
<li>Each spell card has a cost, shown on an icon of a coin. This is how much ghost rock
you must pay to bring the spell into play.
</li>
</ol></div>

<h3 id="rop9">Action Card</h3>
<p class="italic">This here town, smack in the middle of what we call The Weird West, has a lot of surprises.
And if you want to make a go of it out here, you gotta have a few surprises of your own.
</p>
<p>Action cards represent special events, plans, and tactics that your dudes or your gang use
to get the best of the situation. Unlike other cards in the game, action cards are played
directly from your hand; you do not bring them into play, but instead resolve their effect,
and then discard them once their effect is complete.
</p>
<div><ol>
<li>Each action card has a specific suit (clubs) and value assigned to it. These are mostly
used to create poker hands during the game, but can also be used for other effects too, as
explained later.
</li>
<li>This area of the card describes the effects the action has when played. If a card has
multiple abilities listed, choose and declare the one you wish to use.
</li>
<li>Each action card has a cost (often zero), shown on an icon of a coin. This is how
much ghost rock you must pay to play the action.</li>
</ol></div>

<h3 id="rop10">Joker Card</h3>
<p class="italic">If there's truly a joker, it's the yahoo who done thought up settlin' in this God-forsaken
wasteland and usin' ghost rock to make all sorts o' infernal gadgets. But aside from that—or
maybe on account of it—we've taken to using joker cards when playin' poker.
</p>
<p>Jokers are only useful for pulls and draw hands (including lowball); you can't play one from
your play hand. When you reveal a joker on a pull or in a draw hand, you must choose its
suit and value as soon as the joker is revealed. A joker by itself will never make a hand
illegal; for example, if you have a legal four-of-a-kind hand with a joker, it becomes a legal
five-of-a-kind hand.
</p>

<h3 id="rop11">Counters</h3>
<p>Included in the box are ghost rock chits to track how much ghost rock a player has in his stash. In addition, you can use these to track a wanted dude's bounty.</p>
<p>The cardstock counters can be used to track game effects. The counters come in several colors:</p>
<div><ul>
<li>Blue counters are used for control. Place them on any cards that get a permanent control point (which can be done by a variety of card effects).</li>
<li>Red counters are influence. If a card gets a permanent bonus to influence, mark that with this card. Many players also like to track how much total influence their gang has by keeping an appropriate stack of influence counters in their stash as a bookkeeping trick.</li>
<li>Green and Black counters are to be used for whatever you need them for. You could use them to track who owns which card, cover up whichever abilities have been used, mark temporary changes in a dude's bullets, etc. They are there for your convenience.</li>
</ul></div>

<h3 id="rop12">Token Card</h3>
<p>Occasionally a card effect will instruct you to put a token into play. Tokens are represented
by cards but do not form part of your deck. When instructed to do so, find the appropriate
token card in your collection and put it into play. All abilities and traits printed on the
corresponding token card are active, even if the ability putting the token into play does not
explicitly identify them.</p>
<p>After you discard or ace a token dude, remove it from the game.</p>
<p>Token dudes are always considered non-unique.</p>

 
<h2 id="rop13">Larnin' the Ropes</h2>
<p class="italic">Afore we get to the actual rules of the game, we need to lay down some basics so's you
don't end up lookin' like a greenhorn.
</p>

<h3 id="rop14">The Cards Are Always Right... Unless They's Wrong</h3>
<p>Many of the cards seem to contradict the rules; in such cases, the cards are always right.
However, when one card says you can do something, and another card says you can't, the
one that says you can't takes priority. For example, Clementine Lepp says that she can't be
called out while at a Saloon you own. That means that while she is there, no one can call
her out, not even a wanted Sanford Taylor.
</p>

<h3 id="rop15">Decks, Discards, and Boot Hill</h3>
<p>All players have their own deck, to draw cards from during the game. You must shuffle your
deck before the game begins, as well as any time you search your deck during play. Be sure
to give the other players a chance to cut your deck after you shuffle. You do not have to
shuffle your deck if you are only looking at "the top [number of] cards" of the deck (not
even if your deck only has that number of cards left).
</p>
<p>You also have a discard pile. This holds cards you've used, but that you might see again
later in the game. Whenever you are required to discard cards, put those cards face up in
your discard pile. Players are allowed to look through any discard pile at any time, but they
are not allowed to change the order of those cards.</p>
<p>If you need to take a card from your deck for whatever reason, but your deck is empty,
shuffle your discard pile to make a new deck.
</p>
<p>You also have a Boot Hill, a separate discard pile that you never shuffle back into your deck.
During play, cards can be aced - that is, killed or destroyed; whenever a card of yours is
aced, put it in your Boot Hill, usually out of play for good. If the card has other cards
attached to it, those attached cards go to your discard pile instead. Players are allowed to
look through anyone's Boot Hill at any time, but they are not allowed to change the order of
those cards.
</p>
<p>If an ability lets you take control of an opponent's card, and the card subsequently leaves
play (that is, it gets discarded or aced), always make sure you return it to that player's
discard pile or Boot Hill, as appropriate.
</p>
<p>Regardless of card effects, you can never put an opponent's card into your deck or play
hand.</p>

<h3 id="rop16">Your Stash</h3>
<p>Your stash is your pot of ghost rock, the spooky mineral that Doomtown uses for money.
Your starting stash is shown on your chosen home card - take counters from the bank equal
to your starting stash before play begins. As you bring cards into play, return any ghost
rock you use to pay for those cards from your stash to the bank.
</p>

<h3 id="rop17">Card Values and Hands</h3>
<p>Each card in your deck has a suit (clubs, diamonds, hearts, and spades) and a numeric
value. These are primarily used when creating draw hands to resolve shootouts, but can be
referenced at other times. All cards of a given type have the same suit.
</p>
<p>A card's value ranges from one to thirteen. Aces count as ones, while jacks, queens, and
kings count as elevens, twelves, and thirteens, respectively. There are also jokers; when
you draw a joker, you choose its suit and value as soon as it's revealed.
</p>
<p>During the game you'll have a play hand of cards that you can use. In addition, at various
times you'll have a draw hand, which is used during a shootout as well as the Gamblin'
phase. A draw hand is only used for its poker hand rank; you cannot play cards from it. Be
very careful never to mix or switch your play hand with your draw hand.
</p>
<p>If you need to create a draw hand, and you have less than five cards left in both your deck
and discard pile, draw all of them, and your hand is considered the lowest possible hand
that you can make with the cards you have.</p>


<h3 id="rop18">Cheatin'</h3>
<p class="italic">You play this here game with a deck of cards, but it's not always exactly what your citified folk might think of as a rightly legal poker deck. But don't you worry about that none.</p>
<p>Once you become familiar with the game, you'll want to build your own custom decks so
that you can get the values you want in your draw hands. Since your deck may have
multiple cards of the same suit and value—three cards that all say 4 of diamonds, for
instance—you may end up with more than one of them in your draw hand. If so, this is an
illegal draw hand, or as it's more commonly known, a Cheatin' hand, and it opens the door
for other players to punish you for it. More on that later.
</p>
<p>Remember, a Joker never causes a legal hand to become a cheatin' hand, regardless of the
suit and value chosen for it. However, if a card effect changes the suit and value of a
non-Joker card to one that already exists within the hand, it is now considered Cheatin' (if it
wasn't before).</p>
<p>A hand that does not have cards that duplicate the same suit and value is called a legal
hand.
</p>

<h3 id="rop19">Bootin' Cards</h3>
<p>Many times when you use a card's ability, the card tells you to boot it. You boot a card by
turning it sideways. A booted card can't be booted again until after it has been unbooted,
which means turned straight up. Cards come into play unbooted.
</p>
<p>Booted cards cannot use an ability that has booting as a cost. In other words, if a card's
ability says something like, "Noon, Boot: Do this awesome thing" or "Boot a card to do this
awesome thing," you can't do that awesome thing if the card is already booted.
</p>
<p>Aside from that, unless the rules say otherwise, booted cards are treated the same as
unbooted cards.
</p>
<p>Only cards in play can be booted. If a booted card leaves play (to your hand, discard pile, or
Boot Hill) it is no longer booted.
</p>


<h3 id="rop20">Locations and Adjacency</h3>
<p class="italic">It's like that Chinese guy once said, "No matter where you go, someone will prob'ly shoot at you."</p>
<p>When you play Doomtown, your table becomes a sort of map of the town as the players
build it up. There are three types of in-town locations. Each deed in play is its own location.
Each outfit's home is a location (with a few special rules). And the area in the middle of the
table is a location called the town square.
</p>
<p>Your street is your row of cards—your home and deeds—that make up the part of the town
that you own.
</p>
<p>When you bring in-town deeds into play during a game, you'll place them at one end of your
street or the other. Thus, at the start of the game, when you play a deed, it goes to the left
or right of your home (your choice). The next deed you play goes next to either your home
or the first deed you played; it can't go between them.
</p>

<div class="insert">
<h4>Adjacency</h4>
<p>Adjacency is a key aspect of Doomtown; it determines which dudes can join shootouts, do jobs, and more. Be very careful when forming posses for jobs or shootouts, because you might be facing everyone who is adjacent to your foe.</p>
</div>

<p>When you bring in-town deeds into play during a game, you'll place them at one end of your
street or the other. Thus, at the start of the game, when you play a deed, it goes to the left
or right of your home (your choice). The next deed you play goes next to either your home
or the first deed you played; it can't go between them.
</p>
<p>When two in-town locations are next to each other, they are adjacent. Thus any in-town
deed is adjacent to the locations to its immediate right and left (same goes for your home).
Also, all in-town locations are adjacent to the town square. Locations on your street are not
adjacent to locations on any other player's street.</p>
<p>Some deeds are out of town (they say so in their keywords); each is a location unto itself.
Out-of-town deeds are not adjacent to anything, not even other out-of-town deeds.
</p>
<p>Sometimes, a deed leaves play (being discarded or aced). When this happens, any dudes at
that deed go home booted. Move the locations that were adjacent to that deed together so
that they are adjacent, closing the gap created by the deed leaving play.
</p>

<h3 id="rop21">Owner and Controller</h3>
<p class="italic">Water rights, mineral rights, women's rights... much more talk about rights, and I'm gonna
bust someone right upside the head.
</p>
<p>The <b>owner</b> ​of a card is the person whose deck the card came from. The owner of a card
never changes.
</p>
<p>The <b>controller</b> ​of a card is the person who gets to make all the decisions about what the
card does. Whenever a card refers to "you," it is referring to the controller of the card. Most
of the time, the controller is also the owner. However, there are two ways when that's not
the case.
</p>
<p>The first happens when someone plays an ability that uses the words "take control." That
means the other person takes over running your card.
</p>
<p>The other, much more common method concerns deeds: Whoever has the most influence at
a given deed controls that deed. A deed's controller can change any number of times a day.
This does not move, boot, or otherwise affect the deed. If there's a tie for the most
influence (even a 0–0 tie because no one is there), the owner has control, even if the
owner's not part of the tie.
</p>
<p>If you control a dude or a deed, you also control all cards attached to that dude or deed
(whether or not you own any of those cards).
</p>
<p>No one ever owns or controls the town square. Players always own and control their own
home (the influence rule does not apply, because an outfit card is not a deed).
</p>

<div class="insert">
<h4>Control</h4>
<p>Controlling deeds is a fundamental strategy in Doomtown. Just because a player owns a deed doesn't mean that player controls it; if you have the most influence there, you control it.</p>
<p>When you control another player's deed, you don't get the income from it, but you do get the ability. Also, you deny the owner the income. Finally, and most important, sending your dudes out to other players' deeds gets you the deeds' control points, and forces them either to try to wrest control of your deeds or confront your dudes to reclaim control of their deed.</p>
</div>

<h3 id="rop22">Uniqueness</h3>
<p class="italic">We'll never see his like agin... unless'n he rises from the grave.</p>
<p>Dudes and deeds in Doomtown are mostly unique; any exceptions have the keyword
"Non-Unique" on them. You can put more than one copy of any card in your deck, but you
can't bring a unique card into play if you own another card with the same name that is
either already in play or in your Boot Hill.
</p>
<p>If you have a unique card in play, that doesn't stop someone else from having that same
unique card in play. Gomorra is just kind of a strange place that way.
</p>
<p>Nothing else is considered unique unless it says "Unique" in bold on the card. There ain't no
limit to the number of non-unique goods or spells you can put into play, though you can
only put up to four copies in your deck (see <a href="#rop49">Stackin' a Deck</a>).</p>

<h3 id="rop23">Makin' Plays and Reactin'</h3>
<p>The phases in Doomtown uses a turn system that proceeds around the table, much like
bidding, calling, and raising in poker.
</p>
<span style="color: red;">
<p>During a phase, starting with the Winner (see Gamblin’ Phase), each player has an
opportunity to make a play (which includes passing). Play proceeds clockwise around the
table with each player making a play, until all players pass consecutively. Once this
happens, the current phase or step ends, and the game continues. Passing does not prevent
a player from subsequently making a different play later in the same phase. A play is
finished when all effects of the play, including discarding a used action card, are resolved.</p>

<h4>When do reacts happen?</h4>

<p>Some cards have abilities that start with the word "React", that can be played in response
to an event. The text of the react ability will tell you what the event is. When an event
occurs, a react window opens for all players to make React plays.</p>

<p>Within each react window, players have the opportunity to play reacts in turn order
beginning with the Winner. Each react is played and resolved before the next player gets a
chance to play one. The react window closes once all players have consecutively passed,
and play resumes. Should a new event occur within a react window, pause the flow of the
game again and resolve any reacts to that new event in the same way, before going back to
complete the original react window.</p>

<p>During a game, many events will occur that could potentially trigger reacts, but players
should not pause the game unless a player clearly declares that they have a react they wish
to play.</p>

<p>Some reacts replace the original event with a new event - these can be identified by the use
of the word "instead" within their text. Once a react of this type is played, the original react
window is closed and the replacement event occurs. Additional reacts can then be played in
response to that new event.</p>

<p>For example, Arnold McCadish is worded "React, Pull, Boot: When a dude is discarded (not
aced) as a casualty in a shootout, if the pull is higher than the dude's value, send that dude
home booted instead." Once a player successfully uses Arnold to prevent a dude from being
discarded, no further reacts can be played in response to that dude being discarded.
Instead, reacts could be played in response to the dude being sent home booted.</p>

<h4>What about traits?</h4>

<p>Some traits have effects that can occur in response to an event in the same way that reacts
do. When this happens, all traits must be resolved prior to players playing any reacts.
Starting with the Winner, and proceeding in turn order, each player resolves all of their
traits in any order they choose. Traits resolve sequentially, with the effects of each trait
being applied before resolving the next.</p>

<p>Sometimes a trait can replace the event that triggered it. Such traits can be identified by
the use of the word "instead" within the trait text. If a trait replaces its original triggering
event, that original event no longer occurs, and no further traits or reacts can be played in
response to it. Instead, the new event can itself trigger traits and reacts as with any other
event.</p>
</span>

<h2 id="rop24">Setup</h2>
<p>Place your outfit card face up on your side of the table. It is your home and the first location
on your street. Take ghost rock from the bank equal to your outfit's starting stash.
</p>
<p>Once players have revealed their outfits, they search their decks for up to five dudes with a
combined cost less than or equal to their starting stash. These dudes can only be dudes
from your outfit or drifters - you cannot have a dude from another outfit in play at the start
of the game. You can also only include one dude with the Grifter keyword in your starting
gang. All players simultaneously place those dudes at their home (their outfit card), paying
all costs. Starting dudes do not generate any "entering play" effects.
</p>
<p>Shuffle your deck and draw a play hand of five cards.
</p>
<p>If you wish to resolve a Grifter ability in your starting posse, do so now. If both players have
Grifters, randomly determine who resolves their ability first (use a coin toss or other
convenient method).</p>

<h2 id="rop25">Sequence o' Play</h2>
<p class="italic">Didja see what I just did? I done used the word ‘sequence,' on account of I'm smart.
Anyway, let's get on with how things run 'round these parts. As excitin' as things get, each
day runs through the same sort of routine: You milk the cows, fleece the drifters, mosey
about town, and get into gunfights with the other outfits, and then at the end of the day you
crawl under a blanket, get some rest, and pray to the Good Lord that the demons don't tear
out your soul in a nightmare.
</p>
<p>Doomtown is played over a series of days. Each day in Doomtown moves through four
phases: Gamblin', Upkeep, High Noon, and Sundown.
</p>
<p>The Gamblin' phase determines who goes first for the day, using a friendly game of lowball
poker.
</p>
<p>The Upkeep phase is when you collect ghost rock from your deeds, and pay your dudes'
upkeep to keep them in play.
</p>
<p>The High Noon phase is when most of the action takes place as players bring new dudes and
goods into play, maneuver around town, use Noon abilities, and get into shootouts.
</p>
<p>Finally, the Sundown phase is when victory is determined. If no one has won, then everyone
gets to draw some new cards, unboot their dudes, and get ready for the next day.
</p>

<h3 id="rop26">Gamblin' Phase</h3>
<p>At the start of each day, each player antes up 1 ghost rock from their stash (it goes to a pot
in the town square). If your stash is empty, borrow a ghost rock from the bank, but you
must repay it during the Upkeep phase, after you collect your production, but before you
pay any upkeep.
</p>
<p>All players set aside their play hands and draw a five-card lowball draw hand from the top of
their decks. You can't play cards from these lowball hands; all you care about is the poker
values of those cards. All players reveal their lowball hands simultaneously.
</p>
<p>Since everyone's deck is likely stacked, it's possible that someone might have a Cheatin'
hand i.e. one that has two or more cards with the exact same suit and value. If so, starting
with the previous day's Winner (if needed, pull for low value to determine this person on the
first turn of the game) and going clockwise, every player has the chance to use Cheatin'
Resolution abilities, either from an action card in their play hand or printed on a card they
already have in play. Each player can only have one Cheatin' ability used on them per draw
hand. You cannot use a Cheatin' ability on yourself.</p>
<p>This hand is played lowball: unlike other Doomtown draw hands, the lowest hand rank wins.
Players with exactly tied hands—like A, 2, 3, 5, K and A, 2, 3, 5, K—draw new five-card
lowball hands to break the tie. The rank of your draw hand always equals the highest
possible rank that can be achieved with the cards in that hand.
</p>
<p>The player with the lowest rank is called the Winner, and remains the Winner until a new
Winner is determined in the next Gamblin' phase. The Winner takes all the ghost rock from
the pot and places it in their stash. The Winner goes first during each phase of the day, and
wins ties whenever players want to do something at the same time.
</p>
<p>Once done, everyone discards their lowball hands and retrieves their play hands.
</p>

<h3 id="rop27">Upkeep Phase</h3>
<p class="italic">This is where you do all that fancy figurin' and 'rithmatic and such like them bookish types
do all the danged time. You take ghost rock income from deeds (them ones with that cute
li'l plus sign), and you spend it on whiskey—er, I mean buyin' the continued services of the
folk you've done hired already.
</p>

<span style="color: red;">

<p>At the start of the upkeep phase each player simultaneously receives production from each
deed they both own and control, as well as their home and any other non-deed cards they
control. Determine your total production and move that much ghost rock from the bank to
your stash.</p>

<p>After production, each player returns to the bank any Ghost Rock they borrowed for
Lowball, and then pays upkeep on any cards that they control and wish to keep in play.
Upkeep is paid in turn order, beginning with the player to the left of the Winner.</p>

<p>Any dudes in your gang that belong to another outfit (that is, the dude’s card has an outfit
symbol that doesn’t match the one on your home) have their upkeep increased by their
influence.</p>

<p>After all players have paid upkeep on cards that they wish to keep in play, any card whose
upkeep was not paid is discarded. A card with zero upkeep cannot be discarded in this way.</p>

<p>Should card effects result in a situation where a player cannot pay the bank for any
borrowed Ghost Rock, the debt carries forward into subsequent turns, and must be repaid
during the Upkeep Phase as soon as the player is able to do so.</p>

</span>

<h3 id="rop28">High Noon Phase</h3>
<p class="italic">The most ruckus happens in the middle of the day, what with a bunch of ornery dudes with
itchy trigger fingers and a chip on their shoulder movin' about town and roughin' up the
locals. This is most definitely when you can expect to see shootouts used to resolve all sorts
of disagreements between disagreeable types. Some say it's chaos out here, but the fact is
that these hombres are cool as ice, and their every move is part of a calculated plan.</p>
<p>Starting with the Winner and going clockwise, the players take it in turns to make a Noon
play. When it's your turn to make a play, you can make one of the five basic plays from the
rulebook (Actin', Callin' Out, Movin', Shoppin', or Tradin'), or
you can pass. You can make these plays in any order and any number of times.
</p>
<p>Play keeps passing to the left around the table until every player passes consecutively. Once
this happens, the High Noon phase ends.
</p>

<h3 id="rop29">Sundown Phase</h3>
<p>Once the High Noon phase is over, check to see if anybody's won (see page 30). If not, you
can discard one card from your play hand, if desired. Then either draw or discard cards until
your hand is at its maximum size, which, barring card effects, is five cards.
</p>
<p>Finally, unboot all your booted cards, and go back to the Gamblin' phase for the next day.</p>

<h2 id="rop30">Plays You Can Make at High Noon</h2>
<p class="italic">It's a free country, or so they say, but rules is still rules. So here's what y'all can do and the right proper way to git it done.</p>
<p>When it's your turn to act during the High Noon phase, you can choose one of the following
plays to make. If you don't want to (or can't) make any of the plays, you can pass. If you
pass, you can still make a play later on in the phase. Note that passing is also considered to
be a play.
</p>
<p>As soon as everybody passes consecutively, the High Noon phase immediately ends and you
move on to the Sundown phase.
</p>

<h3 id="rop31">Actin'</h3>
<p>One play you can make is to use a Noon ability on an action card in your play hand or
printed on one of your cards in play (like a deed, dude, goods, or spell). To do so, declare
the ability, pay any costs, and resolve its effect.</p>
<p>The cost of an ability includes booting the card if the ability has the word "Boot" in front of
the colon, and paying any ghost rock required to use the ability. Also, if the card says
something like, "do X to achieve Y", X is also considered a cost. </p>
<p>The first sentence (only) of an ability also includes the requirements that must exist in order
to use the ability. For example, if an ability begins with the sentence "Choose an opposing
dude with a weapon attached", there must be an opposing dude in play who has a weapon
attached. If not, you can't use that ability.
</p>
<p>Using a card's ability does not boot that card unless booting is part of its cost. Even so, you
can only use each ability on a given card in play once per day. You can only use one ability
on a spell card per day, no matter how many abilities that spell card has. However, any
ability that includes the word "Repeat" before the colon can be used multiple times per day,
without limit.
</p>
<p>Most abilities on deeds can only be used by that deed's controller, whether or not the
controller is also the owner. This is noted by the word "Controller" in front of the deed's
ability.
</p>
<p>Unless otherwise noted, the effects of Noon abilities last through the end of the Sundown
phase.
</p>
<p>When you make a Noon play using an action card, only put the card in your discard pile
once the play is complete and it is the next player's turn to make a play.</p>

<h3 id="rop32">Callin' Out</h3>
<p class="italic">When you've got dudes from another gang hangin' around your saloon and they're refusin'
to leave, it's 'bout time you cleared ‘em out the hard way</p>
<p>As a Noon play, one of your unbooted dudes can call out a dude controlled by another
player at the same location (that is, challenge that dude to a shootout). This doesn't boot
your dude, and so as long as they stay unbooted, your dude can continue to call out an
opposing dude at their location each and every time it's your turn to make a play. However,
this play cannot be used to call out a dude at their own home.
</p>
<p>If unbooted, the dude you called out can refuse the call out by moving home booted. A
booted dude must accept the call-out.
</p>
<p>Some card effects let you call out a dude. When using one of these effects, your dude may
call someone out even while booted, and more importantly, can use it to call out a dude in
their home. If not already booted, dudes at their home can still refuse such a call-out by
moving home booted, even though they are already there (they are assumed to run
upstairs). Such a refusal still boots the dude, of course.
</p>
<p>If a dude accepts a call out, a shootout starts at their location, and both sides
can form posses.</p>

<h3 id="rop33">Movin'</h3>
<p class="italic">Those dudes you've hired ain't gonna do you much good just sittin' at home. Sooner or later
you're gonna want to get them out the door to sashay, amble, mosey, or even gallop on
somewhere else.
</p>
<p>As a Noon play you can move one of your unbooted dudes to any other location in play (a
deed, a home, or the town square), regardless of how far away that location is, or whether
or not it's adjacent. This movement boots a dude, unless you're making one of the following
two special moves:
</p>

<span style="color: red;">

<div><ul>
<li>A dude can move from their own home to an adjacent location without booting.
Locations adjacent to your home are typically the town square and the deeds either side of
your home, but could include other locations as indicated by card effects.</li>
<li>A dude can move from the town square to any adjacent location except their own
home without booting. This typically includes all in-town deeds and other players homes,
but again may include other locations if instructed by other cards.</li>
</ul></div>

</span>

<p>Although neither of these special moves boots the dude, the dude must still be unbooted in
order to perform the move.
</p>
<p>Some card effects let you move a dude. These are usually Noon abilities, but there are also
a few Shootout and React abilities too. When using one of these effects, you can use it to
move a booted dude, and the move doesn't boot your dude. Card effects that move a dude
must move them to a new location; the dude cannot remain at the same location, unless
the effect is sending them home booted.
</p>

<h3 id="rop34">Shoppin'</h3>
<p class="italic">You mine ghost rock to buy tools, you use the tools to mine more ghost rock. Don't make
much sense less'n you realize the alternative is to mine ghost rock to buy tequila, then
wake up in a puddle of your own drool without your pants.
</p>
<p>You make this play to bring a dude, deed, spell, or goods card into play from your play
hand. Pay its ghost rock cost to the bank, then put the card on the table unbooted. You can
start using its abilities as soon as it's your next turn to make a play. The way you bring a
card into play depends on the type of card it is.
</p>
<p><b>Dude:</b> A dude starts at your home. It's where folks sign on.
</p>
<p><b>Deed:</b> Unless they say otherwise, all deeds are in town. Place a new in-town deed at either
end of your street, as the last card in that direction. New deeds can't be placed between
existing locations in your street. Out-of-town deeds are never added to your street, but
instead are placed off to one side.
</p>
<p><b>Goods:</b> Attach the card to one of your unbooted dudes at a location you control (the dude
must be able to attach that card). The card sticks with them. A dude can usually carry any
number of goods, but can only ever have one Horse and one Weapon at a time. If you want
to attach a new Weapon (or Horse) to a dude that already has one, you must discard the
old one.
</p>
<p>There are a few goods cards that attach to deeds rather than dudes; these are clearly noted
on the cards themselves.
</p>
<p>Gadgets are a special type of goods that can only be brought into play by a Mad Scientist.
See Inventin' Gadgets for details. Once a Mad Scientist has invented a Gadget,
you can use the Tradin' play later on to give it to another dude.
</p>
<p><b>Spell:</b> All spells have restrictions on who can attach them. Only Hucksters can attach
Hexes, only Blessed can attach Miracles, and only Shamans can attach Spirits. Attach the
card to one of your unbooted dudes at a location you control (the dude must be able to
attach that card). The card sticks with them. A dude can attach any number of spell cards.
</p>
<p>Some card effects let you bring another card into play. When using one of these effects, the
new card enters play following these same rules, depending on its type. The costs of the
new card must still be paid, so if you can't pay those costs, you can't attempt to bring it into
play. If that new card is a goods or spell, a dude can attach it even when booted and/or in a
location you don't control. Dudes still can't take anything that they aren't allowed to carry.
</p>

<h3 id="rop35">Tradin'</h3>
<p class="italic">Frontier folks are only too happy to lend or borrow for them as has need. Course, some of
the borrowin' that goes on around here is more rightly described as stealin'.
</p>
<p>If you have two or more of dudes you control together in a location you control (whether or
not you own it), you can swap any number of goods cards between them. All dudes
receiving goods must be unbooted, and can't receive anything that they aren't allowed to
carry. Booted dudes can give goods away, but can't receive them. Once a dude gets a goods
card from a trade, that dude can't trade it away on that same day.
</p>
<p>Dudes with Weapons and Horses are allowed to trade them, although once you are done
tradin', if a dude has more than one of each, you must discard the extra cards.
</p>
<p>Dudes cannot trade spells.</p>
<p>Some card effects let you transfer a goods card from one dude to another. When using one
of these effects, a dude can attach the goods card even when booted and/or in a location
you don't control. Dudes still can't take anything that they aren't allowed to carry, <span style="color: red;">and can
only ever have one Weapon or Horse attached at the end of a play.</span></p>

<h2 id="rop36">Shootouts</h2>
<p class="italic">Fights break out in the Weird West all the time, and folks don't usually need a reason. So
here's how you settle yer differences, Doomtown style.
</p>
<p>A shootout usually starts when a dude accepts a call-out. Both the player and dude doing
the callin' out are known as the leader, while the player and dude being called out are
known as the mark. The shootout takes place at the location of the mark, and does not
change for the duration of the shootout (even if the mark subsequently leaves the
shootout).
</p>

<h3 id="rop37">Formin' Posses</h3>
<p class="italic">When a shootout starts, most likely folks ain't gonna let their friends face the danger alone.
They'll pitch in, help out, provide cover, and maybe even take a bullet.
</p>
<p>Both players in the shootout form a group of participating dudes called a posse. The leader
declares their entire posse first. All dudes added to a posse, including the original leader and
the mark (both of whom must be in their respective posses), are said to be joining a posse.
</p>
<p>Only dudes in the location of the shootout or in an adjacent location can join a posse. A
dude in the same location can join even while booted, but only unbooted dudes can join the
posse from an adjacent location. A dude can't join a posse if there are restrictions that
prevent him from moving to the marks location.
</p>
<p>Once both players have declared their posses, all dudes joining a posse that are not already
in the location of the shootout must move to that location. This move automatically boots
them. All dudes moving to join a posse move and boot simultaneously.
</p>
<p>Players can never have dudes they control in both posses. Players cannot ever make a
choice that would result in that situation, no matter what the cards say.
</p>

<div class="insert">
<h4>Adjacency: Reloaded</h4>
<p>Let's remind you about adjacency. Locations next to each other in a player's street are adjacent. The deeds and home on one gang's street are not adjacent to those on another's. The town square, which is not a deed, is adjacent to everything in town. Out-oftown deeds aren't adjacent to anything, not even to each other.</p>
</div>

<h3 id="rop38">Breakin' and Enterin'</h3>
<p class="italic">If lead flies in a public place like the town square or a saloon, folks figger that the other
varmint must o' needed killin'. But if you ever find yourself in a shootout on someone else's
private property, the law is gonna want to have words with ya. A man's home is his castle,
even if it's a clapboard shack and he's a no-good, flea-bit, back-shootin' four-flusher</p>
<p>When a shootout takes place at a private location, regardless of who started it, all dudes in
the shootout that are not controlled by the owner of that location have their bounty
increased by 1. If this takes them from 0 to 1 bounty, they are now Wanted.
</p>
<p>A deed's keywords will tell you whether it's public or private. A player's home is always
private, and the town square is always public.</p>

<h3 id="rop39">Slingin' Lead</h3>
<p>Each shootout is resolved in a series of rounds (pun intended), done one at a time until all
dudes in one posse are shot dead or flee. The following explains how you handle a shootout
round.
</p>
<h4>Step 1. Make Plays</h4>
<p class="italic">Them as has a plan beyond bang bang bang are generally the ones that win.</p>
<p>Starting with the Winner and proceeding clockwise, each player with a dude in the shootout
makes a Shootout play. Shootout plays include using Shootout abilities, passing, or using
any other text that refers to a Shootout play.
</p>
<p>Shootout abilities you use must come from either an action card in your play hand (which is
played and then discarded), a deed or outfit in play, or a card in your posse (i.e a dude or
one of their attached cards). You can also use a Shootout ability on a card that's not in a
posse, but only if that ability would bring a card currently in play into a posse.
</p>
<p>Shootout abilities can also only affect dudes or their attached cards if they are in a posse,
unless that ability would bring a card into a posse.
</p>
<p>When you make a Shootout play using an action card, only put the card into your discard
pile once the play is complete and it is the next player's turn to make a play.
</p>
<p>Players continue making Shootout plays until all players pass consecutively.
</p>
<p>The effect of a Shootout ability only lasts until the end of the shootout. If an ability ever
sends a dude home, the dude leaves the posse and the shootout, even if they're already
home.
</p>
<p>If, due to the use of Shootout abilities, there's only one posse left in the shootout, the
shootout ends immediately; skip to step 7.
</p>

<h4>Step 2. Pick Yer Shooter</h4>
<p>The leader and mark, in that order, choose and announce their shooter from the dudes in
their posses. This choice only lasts for the current round of the shootout. Any dude in the
posse can be chosen as shooter, including Booted dudes. You do not have to choose the
leader or the mark as your shooter.
</p>

<h4>Step 3. Draw!</h4>
<p class="italic">It ain't how many shots you fire. It's how much lead t'other guy has to eat.
</p>
<p>This is where you see how well your posse performs in this round of the shootout. You do
this by dealing yourself a draw hand from your deck and making the best poker hand you
can from it.</p>
<p>Set aside your play hand, then draw cards from the top of your deck equal to five plus your
posse's stud bonus. You gain a stud bonus from everyone in your posse that has a stud
bullet rating, which is a number in a silver cartridge. Your bonus equals the full stud rating
of your shooter (if they have one), plus one extra for each other stud in your posse (even
dudes that have a 0-stud bullet rating).
</p>
<p>Once you've drawn those cards, you can take advantage of your draw bonus. You gain a
draw bonus from everyone in your posse that has a draw bullet rating, which is a number in
a brass cartridge. Your draw bonus equals the full draw bonus of your shooter (if they have
one), plus one extra for each other draw in your posse (no matter how good or bad they
are). So once you've determined your draw bonus, take a look at the cards in your draw
hand, and decide which, if any of them, you'd like to discard (up to a number equal to your
draw bonus), discard them, and replace them with cards drawn from the top of your deck.
You must take your draw bonus all at once, not one card at a time.
</p>
<p>After all that, discard cards until you have five left. That's your final draw hand. It's
perfectly fine for you to have two or more cards with the same suit and value—two kings of
clubs, for example, but that is a Cheatin' hand, and so does open you up to the potential
damage of a Cheatin' Resolution ability in the next step.
</p>

<h4>Step 4. Reveal and Resolve</h4>
<p>At this point, both players reveal their draw hands, and resolve any effects on cards in play
that refer to draw hands being revealed. A draw hand is only revealed once, so if a player is
required to discard their hand and draw a new one, those effects are not triggered a second
time.
</p>
<p>Next, each player with a dude in the shootout can make Resolution plays, by using
Resolution abilities or passing. Starting with the Winner (or the first player with a dude in a
posse going clockwise from the Winner if the Winner has no dudes in the shootout ) and
proceeding clockwise, each player with a dude in the shootout either passes or plays a
Resolution ability until all players pass consecutively.
</p>
<p>Resolution abilities must come from either an action card in your play hand (not your draw
hand), a deed or outfit in play, or a card in your posse (i.e a dude or one of their attached
cards). You can also use a Resolution ability on a card that's not in a posse, but only if that
ability would bring a card currently in play into a posse.
</p>
<p>Resolution abilities used during a Shootout can only affect dudes or their attached cards if
they are in a posse, unless that ability would bring a card into the posse.
</p>
<p>If a player has a Cheatin' hand, other players can use a Cheatin' Resolution ability as a
Resolution play. Each player can only have one Cheatin' ability used against them during
this step. You cannot use a Cheatin' ability on yourself.
</p>
<p>Any player can play a Cheatin' Resolution action card, even if that player is not in the
shootout, although some cheatin' cards have effects that only work if you have a posse
(e.g., Magical Distraction).
</p>
<p>If, due to the use of Resolution abilities, one player loses all the dudes in their posse (aced
or discarded), the shootout immediately ends; skip to step 7.
</p>

<h4>Step 5. Take Yer Lumps</h4>
<p>Players now compare the ranks of their respective draw hands. The rank of a draw hand is
always the highest possible rank that can be achieved with the cards in that hand. The
winner of this round of the shootout is the player with the highest hand rank. If hand ranks
are equal but one player has a better hand (say, three jacks compared to three aces), that
player still wins this round. If both players have the exact same hand (ignoring suits), there
is no winner or loser for this round.
</p>
<p>When a card effect increases your hand rank, it is considered to be the worst possible hand
of its new rank unless it is changed to a rank of 11 or above, in which case treat it as rank
11 and equal to all other rank 11 hands.
</p>
<p>When a card effect reduces your hand rank, it is considered to be the best possible hand of
its new rank unless it falls below rank 1, in which case it is treated as the worst possible
rank 1 hand.
</p>
<p>The difference between the two ranks is the number of casualties the loser takes. If hand
ranks are tied, both players take one casualty. Both players may also be required to take
additional casualties through the use of card effects.
</p>
<p>A player takes casualties by discarding or acing dudes in their posse: discarding a dude
covers one casualty (they were either wounded or run out of town, but live to fight another
day), and acing a dude covers two casualties (the dude was shot dead). Any goods with the
Sidekick keyword carried by a dude in the posse can also be discarded to cover one casualty
(you cannot ace a Sidekick to cover two casualties). See also Harrowed Dudes for
more options.
</p>
<p>Starting with the loser of the round (or the leader if there was no loser), each player must
ace or discard enough dudes in their posse to match their casualties. They must match the
exact number of casualties if able - they may not voluntarily take more or less casualties
than required. The player selects and announces which of their dudes will be aced or
discarded, and then resolves them one at a time in the selected order (so if a card effect
forces a dude to be selected as the first casualty, they must also be resolved first). Note
that even if the loser must ace or discard all dudes in their posse, the winner must still take
all their casualties.
</p>
<p>Remember that while aced dudes go to your Boot Hill, their attached cards are discarded
instead.
</p>

<h4>Step 6. Run or Gun</h4>
<p>Starting with the loser of the shootout round (or the leader if there is no loser), all players
decide which of their dudes flee the shootout. Those that flee leave the posse and move
home booted. Even dudes that are already booted or already home can flee the shootout.
Each player decides for all of their dudes before the next player decides.</p>

<h4>Step 7. Chamber Another Round</h4>
<p>Both players discard their draw hands.
</p>
<p>If only one posse remains, that player wins the shootout. If both posses have been emptied
of dudes, neither player wins the shootout. If both posses still have at least one dude each,
go back to step 1 to start the next shootout round.</p>

<div class="insert">
<h4>The Gettin' to Know Gomorra Booklet - a shootout in detail.</h4>
<p>For a complete example shootout, see Gettin' to Know Gomorra.</p>
</div>

<h2 id="rop40">Them Other Rules</h2>
<p class="italic">Rules are just like herding cattle; there are always a few dogies that wander away from the
herd. Here's them few what don't fit neatly somewheres else.
</p>

<h3 id="rop41">Card Text</h3>
<p>There are four types of text on Doomtown cards: keywords, traits, abilities, and flavor text.
</p>
<p><b>Keywords</b>  appear in bold at the top of the card, and are single word descriptions of that card
that can be referenced by other card text (e.g., Horse, Gadget).
</p>
<p><b>Traits</b> appear below the keywords, and appear in plain text. Traits are game effects that are
always on while the card is in play (e.g., "Lane gets +2 bullets while he has a Horse."). The
card's controller cannot choose to ignore or "switch off" a trait.
</p>
<p><b>Abilities</b> are card text that start with a boldface phase and cost, followed by a colon. The
card's controller chooses if and when to use an ability. Each ability can only be used once
per turn, unless it is a Repeat ability.
</p>
<p><b>Flavor text</b> is in italics at the bottom of the card. It has no effect on the game, but instead
gives you a taste of the story going on behind Doomtown Reloaded.
</p>
<p>If a card's text uses the word "this" (for example "this location" or "this shootout"), the text
refers to the current location or situation described. For example, Sanford Taylor's ability
says, "Call out a dude at this deed." That means that Sanford can only call out a dude while
Sanford is at a deed and the dude called out must be at the same deed as Sanford Taylor.
</p>

<h3 id="rop42">Aces</h3>
<p class="italic">Aces high? What kind o' stupid place are you from, gringo?</p>
<p>Aces always count as 1s, so they're lowest value in both hands and pulls.</p>

<h3 id="rop43">Harrowed Dudes</h3>
<p class="italic">Some poor folk get an evil manitou spirit up inside in their head, and it keeps them walkin'
around when they should be pushin' up daisies. They're a mite harder to put down, on
account o' already being dead.
</p>
<p>When a dude with the Harrowed keyword is involved in a shootout, that dude can absorb
more casualties than a normal dude. You can send a Harrowed dude home booted to cover
one of the casualties you take in a shootout. Discarding a Harrowed dude covers two
casualties, and acing a Harrowed dude covers three.
</p>
<p>If a Harrowed dude in play gets aced by a card effect (but not through being aced to cover
casualties in a shootout), discard that dude instead of acing them.</p>

<h3 id="rop44">Help Text</h3>
<p>Italic card text in parentheses is called "help text." It does not change the way the card
works, but serves as a reminder of rules that apply to the card, and is intended to help new
players learn the game.
</p>
<p>For example, Mustang says, "<b>Noon, Boot</b>: Move this dude (<i>without booting</i>)." The words
'without booting' remind players that when a card effect moves a dude, the dude does not
boot for that move, regardless of where that move starts or ends. However, when learning
the game, we do not expect new players to remember all the nuances of the rules, so we
have added help text wherever we could to make card effects as clear as possible.
</p>
<p>Not all cards use help text, usually due to space constraints. The absence of help text on a
card does not imply that the card's effect acts differently than a card with help text.
</p>

<h3 id="rop45">How Long? How Big?</h3>
<p>Many card abilities resolve immediately and then are done. Any effect that adds or removes
counters is considered an effect that resolves immediately and is done. After the effect
places the counter, it's the counter that has the ongoing effect. In effect, counters are
permanent changes.
</p>
<p>Effects caused by a Noon ability last until the end of the day (that is, through the end of the
Sundown phase, but before the next Gamblin' phase). Effects caused by Shootout abilities
last until the end of that particular shootout before expiring. Unless stated otherwise,
ongoing effects created by reacts last until the end of the current shootout or phase,
whichever comes first. Traits on a card are always in effect until that card leaves play.
</p>
<p>There are limits to how much certain game numbers can be changed. A card's bullets,
influence, cost, upkeep, control, and production are always equal to the printed stat plus or
minus modifiers from any card effects and attached cards. These numbers can fall below 0,
but whenever you check that number or use it for a game calculation, that negative number
counts as 0. The same applies when calculating casualties during a shootout
</p>
<p>A card's value (ace through king) is always equal to its printed value plus all modifiers from
all card effects and attached cards. Whenever you check that value or use it for a game
calculation, a value of zero or lower is treated as a 1 (ace), and a value of 14 or higher is
treated as a 13 (king).
</p>
<p>When calculating a dude's grit, apply these same limits to each of the dude's value,
influence and bullets when summing them to get the total (so a value 5 dude with -1 bullets
and -1 influence would have a grit of 5, not 3).
</p>

<h3 id="rop46">Jobs</h3>
<p class="italic">There are some unpleasant tasks that require a little more manpower than just one or two
of your dudes, and are more likely to get folks upset than a simple barn-raisin' or vampire
killin'.
</p>
<p>Big events in Doomtown are called jobs. Jobs are initiated by ability text like, "Noon Job:".
Like shootouts, jobs are resolved in a specific manner.
</p>
<p>As with shootouts, both the player and dude starting the job are known as the leader, while
the player and/or the dude (or the deed or something else) being affected by the job is
known as the mark.
</p>
<h4>Step 1. Start the Job</h4>
<p>First, choose one of your unbooted dudes to be the leader of the job. If the ability that
started the job came from text on a dude, goods or spell card, that dude must be selected
as the job's leader. If the job was started by an ability on a deed or action card, the
controller can choose any eligible dude to lead the job.
</p>
<p>If a job requires booting as a part of the cost (e.g. Kidnappin' says, "Noon Job, Boot:"), the
leader is the dude who boots to pay that cost.
</p>

<h4>Step 2. Choose the Mark</h4>
<p>All jobs intend to do something to someplace or someone. The intended target is called the
mark. The first sentence of the job text tells you what the mark is.
</p>
<p>The leader doesn't have to be in the same location as the mark to start the job; in fact, the
leader can even be out of town.
</p>
<p>Unlike when Callin' Out, you can declare your own cards to be the mark of a job. if so, you
can't then defend against the job (although other players still can).
</p>

<h4>Step 3. Form Posses</h4>
<p>Once the leader's chosen, it's time to form posses. Just like in shootouts, the leader forms a
posse first. Any of that player's unbooted dudes who are at the same location as or adjacent
either to the leader or to the mark can join the leader's posse.
</p>
<p>All dudes other than the leader have to boot to join the posse unless they're already at the
mark's location. Dudes at the same location as the mark can join without booting, and can
join even if booted. A dude can't join a posse if there are restrictions that prevent him from
moving to the marks location.
</p>
<p>Once the leader has declared who's joining their posse, the mark's controller can also form
a posse. The mark can only use dudes at or adjacent to the mark's location. Those dudes
must boot to join the posse unless they are already at the mark's location. Dudes at the
same location as the mark can join even if booted. Note that, unlike a call-out, the mark
does not necessarily have to join the posse (although it's usually a good idea). Players
cannot form a posse containing zero dudes. See Owner and Controller, page 13.
</p>
<p>If the mark's controller chooses not to (or cannot) form a posse, the mark's owner, if
different from the controller, can form a posse. If the mark's controller does form a posse,
the mark's owner cannot also form a posse.
</p>
<p>If neither the controller nor the owner choose to form a posse (this is always the case with
jobs that mark the town square or the leader's own cards), then any player, starting with
the player to the left of the leader, can form a posse to oppose the job.
</p>
<p>If no one forms a posse to oppose the job, the job automatically succeeds; skip to step 5.
</p>
<p>Sometimes a Job will place additional requirements on a posse (e.g. Kidnappin'). If those
requirements aren't met after the posse is formed, then it is considered to be an illegal
posse. If the leader has an illegal posse, the job immediately fails. If the mark has an illegal
posse, the job automatically succeeds. In either case, skip to Step 5.
</p>

<h4>Step 4. Saddle Up</h4>
<p>Once posses are formed, all dudes in both posses move to the mark's location
simultaneously. This special job movement doesn't require bootin', but most dudes will have
already booted to join the posse. If the leader and mark's defender both end up with posses
at the location of the mark, a shootout starts. If this happens at a private
location, the trespassin' dudes become wanted just like in a normal shootout.
</p>

<h4>Step 5. Is the Job Done?</h4>
<p>If the leader's posse wins the shootout, or no player forms a defending posse, the job
succeeds. Otherwise, the job fails.
</p>
<p>After the shootout's over, regardless of the outcome, survivors in the leader's posse go
home booted. Surviving dudes in the defending posse stay where they are.
</p>
<p>Now resolve the effects of a successful job as given on the card, assuming the mark is still
in play. If not, the job succeeds anyway but the mark is unaffected. If the job fails, nothing
happens.
</p>
<p>Finally, the remaining posses are dissolved and the job ends.
</p>

<h3 id="rop47">Paying costs</h3>
<p>When you pay the cost of an ability, no player can use a react to prevent or cancel the
payment of that cost.
</p>
<p>Conversely, traits, keywords, and other mandatory effects can still prevent or cancel the
payment of such a cost without affecting that ability - should this happen, the cost of the
ability is still considered paid.
</p>

<h3 id="rop48">Pulls</h3>
<p class="italic">Most cowboys can walk and chew tobacco at the same time, but buildin' an infernal
contraption in an hour from ghost rock, brass tubing, and scrap wood is a wee bit harder.
</p>
<p>Some tasks your dudes might want to do aren't assured of success. Whether or not a dude
succeeds at a challenging task is determined by a pull.
</p>
<p>When you pull, draw the top card of your deck, reveal it, and check its value (ace through
king). Usually, you compare the value to a number indicated in the pull instructions.
Remember, aces are 1s, jacks are 11s, queens are 12s, and kings are 13s. If you have no
cards left to pull, shuffle up your discard pile to make a new deck. If your deck is completely
out of cards (because they're all in Boot Hill or in your play hand), your pull is considered a
1 (ace) of clubs.
</p>
<p>Once you've enacted all results of the pull, discard the pulled card.
</p>

<h3 id="rop49">Skill Ratin's</h3>
<p class="italic">Some dudes have special skills that us normal folks don't. That's why they're all a bit
touched in the head.
</p>
<p>The keywords in a dude's card text tell you of any skills the dude has, including <b>Mad
Scientist</b>​, <b>Huckster</b>​, <b>Blessed</b>​, and <b>Shaman</b>​. A number follows the dude's skill (such as
"<b>Mad Scientist 2</b>​" or "<b>Huckster 4</b>"​), which is called the dude's skill rating. Mad Scientists
use their skill rating when creating a Gadget. A Shaman, Blessed, or Huckster uses their
skill rating when casting a spell.
</p>
<p>Whenever one of your dudes wants to use a skill, that dude must perform a skill test. To
make a skill test, pull (see above) and add the value of the pull to the dude's skill rating.
The total is called the skill check.
</p>

<h4>Casting Spells</h4>
<p>Spells can be cast by Hucksters, Blessed, and Shamans. Any card effect that uses the term
"cast" (or similar) is referring to the process of using an ability on a spell card.
</p>
<p>Each ability printed on a spell card has a difficulty level. Whenever your dude wants to cast
a spell, perform a skill test. If the resulting skill check equals or exceeds the spell's
difficulty, the spell succeeds and you use that ability. Otherwise, your dude failed to cast the
spell and nothing happens (the spell ability has still been used, but to no effect), and it's the
next player's turn to make a play.
</p>

<h4>Inventin' Gadgets</h4>
<p>Whenever you want to bring a card into play that has the Gadget keyword, you need a Mad
Scientist to successfully invent it. Gadgets are usually goods cards, although a handful of
dude and deed gadgets also exist. Any card effect that uses the term "invent" (or similar) is
referring to the process of bringing a gadget into play.
</p>
<p>As a Noon play, your Mad Scientist can try to invent a Gadget you hold in your play hand;
it's just like Shoppin', but not a sure deal. When using an ability to bring a card into play,
that card can also be a gadget, but you'll still need to have a Mad Scientist invent it.
</p>
<p>The cost of inventing a gadget is as follows: boot your Mad Scientist in a location you
control, pay the Gadget's ghost rock cost, and then perform a skill test using the dude's Mad
Scientist skill rating. If the resulting skill check equals or exceeds the Gadget's difficulty, the
invention was a success and the gadget enters play. Attach it to the Mad Scientist unless
the gadget says otherwise. If the skill test fails, the Gadget lies in a smokin' heap and the
Mad Scientist scraps it - place it into your discard pile. You don't get a refund on what you
paid for it.
</p>

<h3 id="rop50">Wanted Dudes</h3>
<p class="italic">While most folks around these parts got a secret or two, wanted dudes are hunted by the
law. The law wants them so bad, they'll pay you for plugging them full of lead.
</p>
<p>When a dude becomes wanted, they gain a bounty that starts at 1 ghost rock. Put a ghost
rock counter from the bank on the dude. Whenever a dude's bounty goes up or down, add
or remove a ghost rock counter to that dude, as appropriate.
</p>
<p>Becoming wanted and getting a bounty go hand in hand. If a wanted dude gets a higher
bounty, it doesn't make them wanted again (or wanted more), because they're already
wanted, but it does give everyone else more incentive to gun them down. However, if a
dude that is not wanted gains a bounty, that dude then becomes wanted.
</p>
<p>If a wanted dude opposing your posse in a shootout gets discarded or aced as a casualty,
you earn all the ghost rock on that dude as your reward; move it from that dude into your
stash. Likewise, if you manage to discard or ace an opposing wanted dude with a card
ability, you gain that dude's bounty.
</p>
<p>You never get a bounty for acing or discarding a wanted dude that you own or control.
</p>
<p>If a dude's bounty drops to zero, that dude is no longer wanted. Equally, if a dude becomes
un-wanted, remove all the bounty ghost rock from that dude and return it to the bank.
</p>

<h3 id="rop51">Experienced Characters</h3>
<p>As the Doomtown story progresses, certain people will evolve and mature by virtue of their
choices and circumstances. These changes will be represented by dudes with the
Experienced X keyword, where X is the experience level of the person. Different versions of
a dude card are all considered one card for purposes of deck-building.
</p>
<p>As a Noon play, you can replace your dude card in play with a different version of that dude
from your hand. The new card replaces the old, keeping all goods, spells, tokens, and
markers, and remains under any game effects. The card that was replaced goes to your
discard pile.
</p>
<p>You can replace a dude card with another dude card whose experience level is no more than
one greater or lower (non-experienced dudes are considered experience level 0). Thus you
can replace a non‑experienced dude with the Experienced 1 version, and vice versa. You
can replace a given dude no more than once per turn.
</p>
<p>Replacing a dude does not trigger "enters play", "leaves play", or "discard" effects.
</p>

<h3 id="rop52">Cooperatin'</h3>
<p>Faith and Fear introduced two new keywords to the mix: Union and Confederate. Folks with
these two keywords go together like oil and water … or, more accurately, like gunpowder
and fire.
</p>
<p>You can have cards with both keywords in your deck. However, if you have a Union card in
play, you cannot bring a Confederate card into play, and vice versa. Them folks absolutely
refuse to work together. This includes bringin' dudes back from the dead; if you have a card
from the other side in play, they absolutely won't come work for you.
</p>
<p>This rule applies to cards you own, not cards that other players own and you control. You
are allowed to take control of another player's Union or Confederate card. If you have
temporary control over an opposing card, that won't stop you from bringin' cards of the
opposite side into play.
</p>
<p>By the same token, if you have a Confederate card that is being controlled by another
player, that does count toward your cards in play, and you wouldn't be able to bring a Union
card into play.
</p>
<p>Note that this rule applies only to cards in play. You can bring a Confederate card into play
if all your Union cards are in Boot Hill (or are still in your deck). Note also that the card The
Union Casino does not have the Union keyword, so it's not considered a Union card,
although it's a fair bet them Rebels don't much care for the place.
</p>
<p>You cannot include both Confederate and Union cards in your starting posse.
</p>

<h3 id="rop53">Headlines</h3>
<p>Headline is a keyword that can appear on action cards. Only one Headline action can be
played per shootout. If any player in the shootout has used a Headline action, another
Headline action cannot be used during that shootout (even by a different player).
</p>

<span style="color: red;">

<h3 id="rop531">Totem</h3>
<p>Totem is a new keyword found on Spirits, representing the charms and fetishes used by Shamans to focus their tribal spirits and ancestors at a chosen site.</p>
<p>Unlike a normal Spirit, when a Totem enters play it must be attached to a location you control, at which you have an unbooted Shaman. Some Totems may have further restrictions on the locations to which they can be attached, such as only to deeds, or only to your home.</p>
<p>Any Shaman at the same location may use a totem, regardless of the totem's controller. A Shaman uses such a Totem in exactly the same way (and with the same clauses, costs or restrictions) as they would a Spirit attached to them.</p>

<h3 id="rop532">Kung Fu</h3>

<p>Kung Fu is a new keyword found on dudes which represents their training in the martial arts.</p>
<p>A dude with Kung Fu will have a rating (typically between 0 and 4) associated with it which is added to that dude's value while he is in play. Having a Kung Fu rating also allows a dude to perform Kung Fu Tests and utilise Techniques as described below.</p>
<p>When chaining techniques into a Combo, the dude's Kung Fu rating determines the maximum number of additional techniques that can be chained, beyond the initial technique. Although Kung Fu may at first seem similar to skills such as Huckster and Blessed, it is not considered a skill and is not affected by cards referring to skills.</p>

<h4>Technique</h4>
<p>A technique is a special kind of action card that requires you to choose a Kung Fu dude and have them succeed a Kung Fu Test in order to play.</p>
<p>To perform a Kung Fu test, make a pull and compare its value to the value of the dude chosen (including all bonuses such as his Kung Fu rating). If your pull is a lower value than that of the performing dude, the technique succeeds and you use the ability on the technique. Otherwise the technique fails and nothing happens (the ability has been used to no effect, and it's the next player's turn to make a play). Any reference to "your dude" or "this dude" on a technique refers to the dude who performed the Kung Fu Test.</p>

<h4>Tao Techniques and Combos</h4>
<p>Tao Techniques are techniques that are part of a specific school or discipline and can be played in combination with other Techniques from the same Tao. These techniques will have their Tao indicated on the card (for example Tao of Zhu Bajie or Tao of the Jade Rabbit) and many also include a Combo requirement, indicating that you can quickly follow up with another technique before your opponent has a chance to make a play.</p>
<p>After you successfully play a Tao Technique check to see if you have satisfied the combo requirement (if any) on the bottom of the card, if so you may immediately choose and play a different Technique of the same Tao from your hand or discard pile choosing the same dude to perform the Kung Fu test. Not all Tao Techniques are able to chain into subsequent techniques, but they can all be used to chain from prior Techniques of the same Tao. The same dude must be chosen to perform the Kung-Fu test for all Techniques in a combo and the maximum number of additional techniques that can be chained is that dude's Kung Fu rating.</p>
<p>Unlike other action cards, a tao technique is not placed in the discard pile after resolution, instead it remains in play until the end of the phase in which it was played so you will not be able to use the same Tao Technique card twice within a single phase. A Shootout Tao Technique would be discarded at the end of the "Make Plays" step of the shootout, immediately before either player picks their shooter. A Noon Tao Technique is discarded at the end of High Noon, immediately before you check for a winner.</p>

</span>

<h2 id="rop54">Winnin' the Durn Game</h2>
<p>At the start of the Sundown phase, if you have more control points than the highest
influence total among the other players, you win.
</p>
<p>If two or more players meet this victory condition, the one with the most control points
wins. If that's also tied, the player with the most influence wins. If that's also tied, play
another day and check again for victory; this may result in a player who was not tied
winning the game.
</p>

<h2 id="rop55">Appendices</h2>
<h3 id="rop56">Stackin' a Deck</h3>
<p class="italic">Buildin' yer own personal deck is a big part o' Doomtown. You can make your deck howsomeever you like, so long as it fits the followin' local statutes:</p>
<p>The deck must have exactly one home card.</p>
<p>The deck must have exactly fifty-two cards with printed values.</p>
<p>The deck can have up to two jokers (note that jokers do not have a printed value).</p>
<p>The deck cannot have more than four cards that share the same suit and value.</p>
<p>The deck cannot have more than four cards that share the same title (this will become important as expansions are released).</p>

<h3 id="rop57">Rustlin' Up Some Help</h3>
<p class="italic">Sometimes folks want to play Doomtown with more'n just the two of ya. If 'n you gots three or more players, the only rules that change are as follows.</p>
<p>When forming posses, players can also invite other players to send their dudes to join.
Those players can join under the same restrictions as the player whose side they are
joining. The dude's controller can use Shootout abilities when it is that player's turn to use
an ability. A third-party dude's bullet rating contributes to the bullet rating of the posse's
shooter, and the dude can even be selected as the shooter if the leader or mark (whichever
is controlling that posse) desires.
</p>
<p>Even if a third-party dude is selected as a shooter, that player doesn't get to draw their own
draw hand. The leader or mark uses their own deck for the draw hand, draws the hand
itself, and decides the posse's casualties, no matter who is in the posse or acting as the
shooter. Yes, this means that a posse's controller can ace a bunch of third-party dudes to
cover casualties.
</p>
<p>At the end of a round, third-party players are the first to decide whether their dudes (only)
will flee the shootout; the loser's allies decide first, then the winner's allies. After those
decisions have been made, the loser is next to choose whether or not to flee.
If a posse at a private deed has the deed owner's dudes in it, that side does not get a
bounty for breakin' and enterin'. In a 3-player game, it is possible for all dudes in a
shootout to have a bounty levied at them if they are at a private deed owned by a third,
non-involved player.
</p>
<p>Turn order starts from the Winner and goes clockwise around the table. In the case of a
Shootout that doesn't involve the winner, it starts with the mark and goes clockwise.
</p>
<p>If you want to play a shorter multiplayer variant, a player wins if, at Sundown, that player
has more control points than any one other player's influence (rather than each other
player's influence).
</p>

<span style="color: red;">

<p>Effects that refer to "your posse" can only be played by either the leader or the mark i.e.
the players who have a posse. Third party players do not have a posse and so cannot play
such cards.</p>

</span>

<h2 id="rop58">Credits</h2>
<p>Original Game Design: David Williams</p>
<p>Lead Design & Development: Mark Wootton</p>
<p>Design & Development Team: Eric Jome, Konstantinos Thoukydidis, Steven Martino</p>
<p>Playtest Lead: Will Abbott</p>
<p>Art Direction: Todd Rowland</p>
<p>Graphic Design: Kalissa Fitzgerald</p>
<p>Original Graphic Design: Blake Beasley</p>
<p>Rules Writing & Templating: Edward Bolme</p>
<p>Background, Story and Flavor: Tim J. Meyer, Paul Durant, Brett Satkowiak, David Orange</p>
<p>Layout: Kalissa Fitzgerald</p>
<p>Typesetting: Edward Bolme, Kalissa Fitzgerald</p>
<p>Proofreading: David Orange, Konstantinos Thoukydidis, Will Abbott, Nicolas Bongiu</p>
<p>Production: Dave Lepore</p>
<p>Brand Management: Mark Wootton</p>
<p>Cover Art: Mario Wibisono</p>
<p>Playtesting: Nicolas Bongiu, Mike Dickinson, Greg Durant, Paul Durant, Mike Godsil, Eric Jome, Adam Jones, Anthony Lawrence, Tim J. Meyer, Ian Oneail, David Orange, Geoff Prugh, Jason Smith, Kirk Stewart, Konstantinos Thoukydidis, Mike Valliere</p>

<h3 id="rop59">Copyright & Contact</h3>
<p>&copy;2014 Alderac Entertainment Group.</p>
<p>Doomtown and Alderac Entertainment Group and all related marks are &trade; and &copy; Alderac Entertainment Group, Inc. All rights reserved.</p>
<p>Printed in China.</p>
<p>Warning: Choking hazard! Keep away from small children!</p>
<p>For more information, visit our website: <a href="http://www.alderac.com/doomtown">www.alderac.com/doomtown</a> and <a href="http://www.alderac.com/forum">www.alderac.com/forum</a></p>
<p>Questions? Email CustomerService@alderac.com</p>
<p>Deadlands, the Weird West, and all related marks and logos are &trade; and &copy; Pinnacle Entertainment Group 2014. All rights reserved.</p>
<p><a href="http://www.peginc.com">www.peginc.com</a></p>
<p>Find Deadlands products and other Savage Worlds settings at <a href="http://www.peginc.com">www.peginc.com</a></p>

<h2 id="rop60">Reference</h2>
<h3 id="rop61">Hand Ranks</h3>
<div>
<table>
<tr>
	<td>
		<div><ol reversed>
		<li><b>Dead Man's Hand</b></li>
		<li><b>Five of a Kind</b></li>
		<li><b>Straight Flush</b></li>
		<li><b>Four of a Kind</b></li>
		<li><b>Full House</b></li>
		<li><b>Flush</b></li>
		<li><b>Straight</b></li>
		<li><b>Three of a Kind</b></li>
		<li><b>Two Pairs</b></li>
		<li><b>One Pair</b></li>
		<li><b>High Card</b></li>
	</td>
	<td>
		<ul type="none">
		<li>Exactly 8<span class="card-suit suit-spades"></span> 8<span class="card-suit suit-clubs"></span> A<span class="card-suit suit-spades"></span> A<span class="card-suit suit-clubs"></span> J<span class="card-suit suit-diams"></span></li>
		<li>Example A<span class="card-suit suit-spades"></span> A<span class="card-suit suit-hearts"></span> A<span class="card-suit suit-diams"></span> A<span class="card-suit suit-clubs"></span> A<span class="card-suit suit-hearts"></span></li>
		<li>Example 8<span class="card-suit suit-clubs"></span> 7<span class="card-suit suit-clubs"></span> 6<span class="card-suit suit-clubs"></span> 5<span class="card-suit suit-clubs"></span> 4<span class="card-suit suit-clubs"></span></li>
		<li>Example K<span class="card-suit suit-spades"></span> K<span class="card-suit suit-clubs"></span> K<span class="card-suit suit-diams"></span> K<span class="card-suit suit-hearts"></span> 2<span class="card-suit suit-diams"></span></li>
		<li>Example J<span class="card-suit suit-spades"></span> J<span class="card-suit suit-clubs"></span> J<span class="card-suit suit-diams"></span> 3<span class="card-suit suit-hearts"></span> 3<span class="card-suit suit-clubs"></span></li>
		<li>Example 10<span class="card-suit suit-spades"></span> 8<span class="card-suit suit-spades"></span> 7<span class="card-suit suit-spades"></span> 6<span class="card-suit suit-spades"></span> 4<span class="card-suit suit-spades"></span></li>
		<li>Example Q<span class="card-suit suit-spades"></span> J<span class="card-suit suit-diams"></span> 10<span class="card-suit suit-clubs"></span> 9<span class="card-suit suit-clubs"></span> 8<span class="card-suit suit-clubs"></span></li>
		<li>Example 5<span class="card-suit suit-clubs"></span> 5<span class="card-suit suit-diams"></span> 5<span class="card-suit suit-spades"></span> 2<span class="card-suit suit-clubs"></span> 3<span class="card-suit suit-hearts"></span></li>
		<li>Example Q<span class="card-suit suit-diams"></span> Q<span class="card-suit suit-clubs"></span> A<span class="card-suit suit-clubs"></span> A<span class="card-suit suit-hearts"></span> K<span class="card-suit suit-spades"></span></li>
		<li>Example 7<span class="card-suit suit-clubs"></span> 7<span class="card-suit suit-diams"></span> K<span class="card-suit suit-clubs"></span> 10<span class="card-suit suit-spades"></span> 3<span class="card-suit suit-diams"></span></li>
		<li>Example K<span class="card-suit suit-clubs"></span> 10<span class="card-suit suit-spades"></span> 7<span class="card-suit suit-clubs"></span> 3<span class="card-suit suit-hearts"></span> A<span class="card-suit suit-diams"></span></li>
		</ul>
	</td>
</table>
</div>
<p>If you would like more tips and helpful pointers for getting the best out of Doomtown, including articles about deck-structure, choosing your shootouts, or moving around town successfully, then go to:</p>
<p><a href="http://www.alderac.com/doomtown">www.alderac.com/doomtown</a></p>
</article>

</div>
{% endblock %}