{% extends 'DtdbBuilderBundle::layout.html.twig' %}

{% block navbar %}{% endblock %}

{% block body %}

<div class="container">

<div class="row">
<div class="col-md-6 col-md-offset-3">

{% block fos_oauth_server_content %}
{% include "FOSOAuthServerBundle:Authorize:authorize_content.html.twig" %}
{% endblock fos_oauth_server_content %}

</div>  
</div>  
  
{% endblock %}

{% block footer %}{% endblock %}